body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    

}

.header-logo{
    
    
    position: absolute;
    color: rgb(31, 30, 31);    
    top: 25px;
    left: 200px; 
}

.header {
    background-color:#1c191f;
height:150vh;
background-size:cover;
}



.nav-item {
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
    color: #ffffff;
    text-decoration: none;
    font-weight:bold;
    font-size: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.2s linear;
    left:750px;
    position: absolute;
    top:55px;
}

.nav-item:hover {
    color:#a3a3a3
}
.nav-item1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
    color: #ffffff;
    text-decoration: none;
    font-weight:bold;
    font-size: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.2s linear;
    left:950px;
    top: 55px;
    
}

.nav-item1:hover {
    color:#a3a3a3
}



.discord-img {
    position: absolute;

    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    height: 35px;
    border-radius: 5px;
    left: 850px;
    top: 375px;px;
}

.discord:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}
.twitch-img {
    position: absolute;
    left:900px;
    top:380px;
    height:30px;
    font-weight:auto;
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    border-radius: 5px;
}

.twitch-img:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}
.telegram-img {
    position: absolute;
    left:950px;
    top:380px;
    height:30px;
    font-weight:auto;
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    height: 2.5  px;
    border-radius: 5px;
}

.telegram-img:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}
.youtube-img {
    position: absolute;
    left:800px;
    top:380px;
    height:30px;
    font-weight:auto;
    background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
    border-right: 1px solid #FFFFFF
    padding-right 5px;
    height: 2.5  px;
    border-radius: 5px;
}

.youtube-img:hover{
    background-color: rgba(255, 255, 255, 0.411); /* Черный фон при наведении */
}


.button{
    position: relative;
    top: 60px;   
    left: 1535px;
    background-color: #00558d;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    padding: 10px 50px;
    margin-right: 2px;
    transition:  0.2s linear;
    border-radius: 5px; /* Закругляет углы */
    
}
.button:hover{
    font-size: 10px;
    background-color:#014775 ;
    border-radius: 10px;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 25.25%;
}







.prolet-img {
    
    position: absolute;
    left:px ;
    top: 200px;
    width: auto;
    height: 1060px;
    margin-right: 10px;
    border: 1.5px solid #ffffff ;
    border-radius: 50px;
}

.card3 {
    background-color: #1c191f; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 415px;
    height: 350px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 3px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:250px;
    left:200px;
    transition: background-color 0.3s ease;
}


.card-header3 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon3 {position: relative;
    left:1px ;
    top: 1px;
    width: 80px;
    height: 80px;
    margin-right: 0px;
    
}

.card-title3 {
    top: 20px;
    left:95px;
    position: absolute;
    font-size:30px;
    font-weight:1000;
    margin: 0;    
}

.card-body3 {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 500;
    font-size: 20.5px;
    top:85px;
    left:25px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer3 {
    text-align: center;
}



.card-button3:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}

#scrollBtn {
    background-color: #00558d;
    padding: 10px 100px;
    color: #ffffff;
    font-size: 12.5px;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    left: 223px;
    top: 570px;
    position: absolute;
    border-radius: 5px;
    transition: 0.2s linear;
}

#scrollBtn:hover {
    opacity: 0.4;
}




.card {
    background-color: #1c191f ; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 215px;
    height: 300px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 1.5px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:850px;
    left:200px;
    transition: background-color 0.3s ease;
}


.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon {position: relative;
    left:15px ;
    top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
}

.card-title {
    top: 25px;
    left:75px;
    position: absolute;
    font-size:30px;
    font-weight:350;
    margin: 0;    
}

.card-body {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 500;
    font-size: 12.5px;
    top:75px;
    left:15px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer {
    text-align: center;
}

.card-button {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
.card1 {
    background-color: #1c191f; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 215px;
    height: 300px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 3px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:850px;
    left:500px;
    transition: background-color 0.3s ease;
}


.card-header1 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon1 {position: relative;
    left:15px ;
    top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
}

.card-title1 {
    top: 25px;
    left:75px;
    position: absolute;
    font-size:30px;
    font-weight:300;
    margin: 0;    
}

.card-body1 {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 500;
    font-size: 12.5px;
    top:75px;
    left:15px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer1 {
    text-align: center;
}

.card-button1 {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button1:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
.card2 {
    background-color: #1c191f; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 215px;
    height: 300px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 3px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:850px;
    left:800px;
    transition: background-color 0.3s ease
}


.card-header2 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon2 {position: relative;
    left:15px ;
    top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
}

.card-title2 {
    top: 25px;
    left:75px;
    position: absolute;
    font-size:30px;
    font-weight:450;
    margin: 0;    
}

.card-body2 {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 500;
    font-size: 12.5px;
    top:75px;
    left:15px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer2 {
    text-align: center;
}

.card-button2 {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button2:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
.primerdonata{
    color:rgba(255, 255, 255, 0.600);
    font-weight: 25;
    font-size: 10px;
    top:97px;
    left:1538px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;

}

@media (max-width: 768px) {
    /* Стили для устройств с шириной экрана до 768px */
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Стили для устройств с шириной экрана от 769px до 1024px */
  }
  
  @media (min-width: 1025px) {
    /* Стили для устройств с шириной экрана от 1025px и выше */
  }
  .card4 {
    background-color: #1c191f; /* Тёмный фон карточки */
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 20px;
    padding: 10px;
    color: #fff;
    text-align: left;
    border: 3px solid #221f25; /* Добавленная обводка */
    position: absolute;
    top:1223px;
    left:1300px;
    transition: background-color 0.3s ease
}


.card-header4 {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}

.card-icon4 {position: relative;
    left:15px ;
    top: -10px;
    width: 40px;
    height: 40px;
    margin-right: px;
    
}

.card-title4 {
    top: 10px;
    left:75px;
    position: absolute;
    font-size:20px;
    font-weight:450;
    margin: 0;    
}

.card-body4 {
    color:rgba(255, 255, 255, 0.600);
    font-weight: 500;
    font-size: 12.5px;
    top:75px;
    left:15px;
    position: absolute;
    line-height: 1.5;
    margin-bottom: 100px;
}

.card-footer4 {
    text-align: center;
}

.card-button4 {
    background-color: #2e2b33; /* Цвет кнопки */
    border: 1px solid #28252b;
    position: absolute;
    top:250px;
    right:25px;
    border-radius: 10px;
    padding: 12.5px 60px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button4:hover {
    background-color: #555555; /* Цвет кнопки при наведении */
}
